/* Custom styles for properties that Tailwind CDN doesn't handle well */
.cards > ul {
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
}

.cards > ul > li img {
  aspect-ratio: 4 / 3;
}
